fastapi
uvicorn

langchain
langchain-community
langchain-text-splitters

llama-index

sqlalchemy
psycopg2-binary

pandas
numpy

PyPDF2
python-docx
openpyxl

unstructured

pytesseract
pillow

python-dotenv

tqdm

pydantic

loguru

pydantic
pydantic-settings

sqlalchemy

psycopg2-binary

python-dotenv

faiss-cpu

sentence-transformers

streamlit

ollama
langchain-ollama

